:root.theme-dark {
  /*цвет фона*/
  --background-color: #000028;

  /*цвет меню и декора*/
  --nav-color: #ff0070;

  /*цвет заголовка*/
  --title-color: #db00ff;

  /*цвет фона в абзацах*/
  --accent-color: #ff0070;

  /*цвет текста*/
  --main-color: #000028;
  --text-color: #f1b2ce;
  --hover-color: rgba(255, 0, 112, 0.4);
  --about-title: #ff0070;

  /*цвет тени*/
  --shadow-focus: #ff0070;
  --shadow-focus-footer: #ff0070;

  /*путь до картинки фона*/
  --path-background: url("../images/cover-image-dark.png");

  /*В тёмной теме видно REC*/
  --decor-visibility: visible;
}
